In [3]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv(r"C:\Users\Gazal\Downloads\toy - toy.csv")
df

   opponent      venue   outlook  toss result
0       kkr  bangalore  overcast  lost    won
1        mi     mumbai     sunny   won    won
2       rcb     mumbai  overcast   won    won
3       kkr  bangalore     sunny  lost    won
4       kkr  bangalore     sunny   won    won
5        mi    chennai     sunny   won   lost
6       rcb    chennai     sunny   won   lost
7       kkr    chennai  overcast   won    won
8        rr  bangalore     sunny  lost    won
9       rcb     mumbai  overcast   won    won
10      kkr    chennai     sunny   won    won
11      rcb  bangalore     sunny   won    won
12       rr    chennai  overcast   won    won
13      kkr    chennai  overcast   won    won
14      kkr  bangalore  overcast   won    won
15      rcb    chennai  overcast   won   lost
16      kkr  bangalore  overcast   won   lost
17       mi  bangalore     sunny   won   lost
18      rcb    chennai     sunny  lost    won
19       mi    chennai  overcast   won   lost
20      kkr  bangalore     sunny  lost    won
21      rcb  bangalore     sunny   won   lost
22       rr  bangalore  overcast   won    won
23      kkr     mumbai     sunny   won   lost
24       rr    chennai  overcast  lost    won

In [8]:
df.shape[0]

25

In [7]:
df['result'].value_counts()

won     17
lost     8
Name: result, dtype: int64

In [10]:
pwon=17/25
plost=8/25
print("Probablity of winning is:",pwon)
print("Probablity of loosing is:",plost)

Probablity of winning is: 0.68
Probablity of loosing is: 0.32

In [11]:
#Opponents look-up table
pd.crosstab(df['opponent'],df['result'])

result    lost  won
opponent
kkr          2    8
mi           3    1
rcb          3    4
rr           0    4

In [21]:
#Probablity for each opponents in both the result(win,lost)
pkkrlost=2/8
pmilost=3/8
prcblost=3/8
prrlost=0

pkkrwon=8/17
pmiwon=1/17
prcbwon=4/17
prrwon=4/17

In [22]:
#venue look-up table
pd.crosstab(df['venue'],df['result'])

result     lost  won
venue
bangalore     3    8
chennai       4    6
mumbai        1    3

In [23]:
#Probablity for each venue in both the result(win,lost)
pbanglost=3/8
pchenlost=4/8
pmumlost=1/8

pbangwon=8/17
pchenwon=6/17
pmumwon=3/17

In [24]:
#outlook look-up table
pd.crosstab(df['outlook'],df['result'])

result    lost  won
outlook
overcast     3    9
sunny        5    8

In [25]:
#Probablity for each outlook in both the result(win,lost)
poverlost=3/8
psunnylost=5/8


poverwon=9/17
psunnywon=8/17

In [26]:
#toss look-up table
pd.crosstab(df['toss'],df['result'])

result  lost  won
toss
lost       0    6
won        8   11

In [35]:
#Probablity for each toss in both the result(win,lost)
ptllost=0
ptwlost=8/8


ptlwon=6/17
ptwwon=11/17

In [36]:
pw=pwon*pkkrwon*pchenwon*poverwon*ptlwon
print("Probability of won under the given condition opponent=kkr,venue=chennai,overlook=overcast,toss=lost ",pw)

Probability of won under the given condition opponent=kkr,venue=chennai,overlook=overcast,toss=lost  0.021103195603500918

In [38]:
pl=plost*pkkrlost*pchenlost*poverlost*ptllost
print("Probability of won under the given condition opponent=kkr,venue=chennai,overlook=overcast,toss=lost ",pl)

Probability of won under the given condition opponent=kkr,venue=chennai,overlook=overcast,toss=lost  0.0

In [ ]:
# So by comparing we see that probablity of winning the match is more than lossing the match so we can conclude that there is more probability of winning the match than loosing.